/* Webfont: BannyLightRound */@fontface {
    fontfamily: 'BannyLightRound';
    src: url('BannyLightRound.eot'); /* IE9 Compat Modes */
    src: url('BannyLightRound.eot?#iefix') format('embeddedopentype'), /* IE6IE8 */
         url('BannyLightRound.woff') format('woff'), /* Modern Browsers */
         url('BannyLightRound.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BannyLightRound.svg#BannyLightRound') format('svg'); /* Legacy iOS */
    fontstyle: normal;
    fontweight: normal;
    textrendering: optimizeLegibility;
}

