/* Webfont: BannyBoldRound */@fontface {
    fontfamily: 'BannyRound';
    src: url('BannyBoldRound.eot'); /* IE9 Compat Modes */
    src: url('BannyBoldRound.eot?#iefix') format('embeddedopentype'), /* IE6IE8 */
         url('BannyBoldRound.woff') format('woff'), /* Modern Browsers */
         url('BannyBoldRound.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BannyBoldRound.svg#BannyBoldRound') format('svg'); /* Legacy iOS */
    fontstyle: normal;
    fontweight: bold;
    textrendering: optimizeLegibility;
}

